@charset "utf-8";
/*
Evin Paauwe
James Veldt
ISYS 288 
FINAL PROJECT
 */
 
 img{
	margin: 0 auto;
	border-radius: 20px;
	display: flex;
	align-items: center;
	justify-content: center 
}

div{
	text-align: center;
}